
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@media (min-width: 1240px) {
  .main {
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
    position: relative;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-rev {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}